
/* Main */

body, html, #root{
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.map-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.map-container__content {
  width: 100%;
}

.info-list-container {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  background-color: #c9cace;
  overflow-y: auto; /* https://stackoverflow.com/questions/2295766/how-to-create-a-scrollable-div-tag-vertically */
}
.info-list-container__list{
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 549px) {
  .info-list-container {
    width: 100%;
    height: 35%;
  }
  .map-container{
    width: 100%;
    height: 70%;
  }
}

@media only screen and (min-width: 550px) {
  .info-list-container {
    width: 100%;
    height: 35%;
  }
  .map-container {
    width: 100%;
    height: 70%;
  }
}

@media only screen and (min-width: 800px) {
  .info-list-container {
    width: 30%;
    height: 100%;
  }  
  .map-container {
    width: 70%;
    height: 100%;
  }
}

@media only screen and (min-width: 900px) {
  .App, #root {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* List */
ol {
  list-style-type: none; /*https://stackoverflow.com/questions/1027354/need-an-unordered-list-without-any-bullets 11.22.18 */
  text-align: center;
  padding: 0px 0px 0px 0px;
}
input {
  width: 50%;
}
.app-title{
  font-family: 'Lobster', cursive;
}

.app-list-items{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

.list {
  width: 100%;
  height: 50%;
}

@media only screen and (max-width: 549px) {
  .list{
    height: 100%;
  }
}

@media only screen and (min-width: 550px) {
  .list {
    width: 50%;
    height: 100%;
  }
}

@media only screen and (min-width: 800px) {
  .list {
    width: 100%;
    height: 100%;
  }
}

/* Location Info */
.location {
  width: 100%;
  height: 50%;

}

@media only screen and (max-width: 549px) {
  .location {
    display: none;
  }
}

@media only screen and (min-width: 550px) {
  .location {
    width: 50%;
    height: 100%;
  }
}

@media only screen and (min-width: 800px) {
  .location {
    width: 100%;
    height: 50%;
  }
}

/* Map */
/*#map {
  position: fixed;
}*/
.g-map {
  width: 100%;
  height: 100%;
  position: fixed;
  /*margin-right: 40px;*/
}
