
/* Main */

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 850px) {
  .App {
      width: 850px;
      margin-left: auto;
      margin-right: auto;
  }
}
/* List */

.list {
  width: 100%;
  background-color: red;
}

@media only screen and (max-width: 549px) {

}
@media only screen and (min-width: 550px) {

}
@media only screen and (min-width: 800px) {

}

/* Location Info */
.location {
  width: 100%;
  background-color: blue;
}

@media only screen and (max-width: 549px) {

}
@media only screen and (min-width: 550px) {

}
@media only screen and (min-width: 800px) {

}

/* Map */
.g-map {
  width: 100%;
  background-color: aquamarine;
}

@media only screen and (max-width: 549px) {

}
@media only screen and (min-width: 550px) {

}
@media only screen and (min-width: 800px) {

}

/* Footer */
footer {
  width: 100%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
