
/* Main */
body, html, #root{
  height: 100%;
}
.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.map-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.info-list-container{
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}

@media only screen and (min-width: 900px) {
  .App {
    width: 850px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* List */

.list {
  width: 100%;
  height: 50%;
  background-color: red;
}

@media only screen and (max-width: 549px) {
  .list{
    visibility: none;
  }
}
@media only screen and (min-width: 550px) {

}
@media only screen and (min-width: 800px) {

}

/* Location Info */
.location {
  width: 100%;
  height: 50%;
  background-color: blue;
}

@media only screen and (max-width: 549px) {

}
@media only screen and (min-width: 550px) {

}
@media only screen and (min-width: 800px) {

}

/* Map */
.g-map {
  width: 100%;
  background-color: aquamarine;
}

@media only screen and (max-width: 549px) {

}
@media only screen and (min-width: 550px) {

}
@media only screen and (min-width: 800px) {

}

/* Footer */
footer {
  max-height: 1%;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
